@{
    ViewData["Title"] = "Pagina Inicial";
}

<style>

    body {
        background-color: #f7f7f7;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Esta é uma Aplicação Web feita em Asp.net core Mvc <br /> <a class="btn btn-outline-dark" asp-area="" asp-controller="Pessoas" asp-action="Index">Cadastro</a></p>
    <img src="~/Assets/programming-image.jpg" class="img-thumbnail" alt="Alternate Text" />
</div>
